@use "../../Styles/partials/global" as *;
@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.services {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative; 

    &__title-info {
        padding: 6.25rem;
        background-image: url("../../assets/images/background.png");
        background-size: cover;
        background-position: center;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative; 
        color: $vitalpathway-black;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: -1;
            background: rgba(255, 255, 255, 0.8); 
            border-radius: 15px; 
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
        }
    }

    &__title {
        font-size: 2.5rem; 
        font-weight: bold; 
        padding-bottom: 1rem;
        letter-spacing: 1px; 
    }

    &__info {
        width: 60%; 
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        text-align: justify;
        line-height: 1.6; 
        margin: 0 auto; 
    }

    &__list {
        margin-top: 2rem; 
        padding: 0;
        list-style-position: inside; 
        font-size: 1.125rem; 

        li {
            padding: 0.5rem 0; 
            position: relative; 
            padding-left: 1.5rem; 

            &::before {
                content: '➤'; 
                position: absolute;
                left: 0;
                color: $vitalpathway-button; 
                font-size: 1.2rem; 
            }
        }
    }
    &__list-image{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5.3125rem;
    }

    &__img {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 34.375rem;
    }
}
