@use "../../Styles/partials/global" as *;
@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.appointment{
    display: flex;
    flex-direction: row;
    margin: 1rem;

    &__form{
    background-color: white;
    display: flex;
    flex-direction: column;
    }

    &__form-group{
        display: flex;
        flex-direction: column;

    }
    &__form-label{
        width: 100%;
        color: $silver;
        font-size: 0.9375rem;
        padding: 0.3125rem;
    }
    &__input{
        width: 21.875rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        border: 0.0625rem solid $silver;
        padding-left: 0.625rem;
        margin-left: 0.625rem;
        padding-right: 0.625rem;
        &::placeholder {
            color: $vitalpathway-black;
        }
        &:focus {
            border: 0.0625rem solid $vitalpathway-button;
        }
    }
    &__buttons{
        display: flex;
        flex-direction: row;
        gap: 1.5625rem;
    }
    &__selection{
        width: 21.875rem;
        height: 40px;
        border-radius: 1.25rem;
        border: 0.0625rem solid $silver;
        padding-left: 0.625rem;
        margin-left: 0.625rem;
        padding-right: 0.625rem;
        &::placeholder {
            color: $vitalpathway-black;
        }
        &:focus {
            border: 0.0625rem solid $vitalpathway-button;
        }
    }

    &__btn-cancel {
        width: 50%;
        height: 2.8125rem;
        margin-top: 1rem;
        width: 100%;
        border: 0.0625rem solid $silver;
        border-radius: 0.625rem;
        background-color: $white;
        color: $silver;
        font-size: 0.9375rem;
        &:hover {
          background-color: $vitalpathway-lightblue;
        }
      }

      &__btn-confirm{
        height: 2.8125rem;
        margin-top: 1rem;
        width: 100%;
        border: 0.0625rem solid $vitalpathway-darkblue;
        border-radius: 0.625rem;
        background-color: $vitalpathway-darkblue;
        color: $white;
        font-size: 0.9375rem;
        &:hover {
          background-color: $vitalpathway-button;
        }
      }
      .appointment__message {
        margin-top: 1.25rem;
        padding: 0.5rem 0.75rem; 
        border-radius: 0.25rem; 
        color: #d9534f; 
        border: 0.125rem solid #d9534f;
        font-weight: bold;
        font-size: 0.875rem; 
        text-align: center; 
        display: inline-block; 
        animation: fadeIn 0.3s ease-in-out; 
        transition: transform 0.2s; 
      }
      
      .appointment__message:hover {
        transform: translateY(-0.125rem); // Slight lift on hover
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-0.625rem);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      
      
      
}