//colors:
$vitalpathway-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$vitalpathway-darkblue: #002e46;
$vitalpathway-button: #0070ac;
$vitalpathway-hoverbtn: #004f79;
$vitalpathway-lightblue: #DBF2FA ;
$vitalpathway-background: #aee2f4 ;

//screen size:
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

