//colors:
$vitalpathway-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$vitalpathway-darkblue: #002e46;
$vitalpathway-button: #0070ac;
$vitalpathway-hoverbtn: #004f79;
$vitalpathway-lightblue: #DBF2FA ;
$vitalpathway-background: #aee2f4 ;
$vitalpathway-red: #FF2E2E;
$vitalpathway-green: #00A300;
$vitalpathway-lightgreen:#8AFF8A;
$even-row-bg: #f0f8ff; 
//screen size:
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

