@use "../../Styles/partials/global" as *;
@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;


.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  
    &__group{
        display: flex;
        flex-direction: column;
    }
    &__group-remembr{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0.625rem;
    }
    &__label{
        width: 100%;
        color: $silver;
        font-size: 1.125rem;
    }
    &__label-remember{
        width: 100%;
        color: $vitalpathway-black;
        font-size: 0.9375rem;
    }
    &__text{
        width: 21.875rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        border: 0.0625rem solid $silver;
        padding-left: 0.625rem;
        margin-left: 0.625rem;
        &::placeholder {
            color: $vitalpathway-black;
        }
        &:focus {
            border: 0.0625rem solid $vitalpathway-button;
        }
    }
    &__box-remember{
        margin: 0.5rem;
    }

    &__buttons{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1.5625rem;
    }

    &__button-cancel {
        width: 50%;
        height: 2.8125rem;
        margin-top: 1rem;
        width: 100%;
        border: 0.0625rem solid $silver;
        border-radius: 0.625rem;
        background-color: $white;
        color: $silver;
        font-size: 0.9375rem;
        &:hover {
          background-color: $vitalpathway-lightblue;
        }
      }
      &__button-signin{
        height: 2.8125rem;
        margin-top: 1rem;
        width: 100%;
        border: 0.0625rem solid $vitalpathway-darkblue;
        border-radius: 0.625rem;
        background-color: $vitalpathway-darkblue;
        color: $white;
        font-size: 0.9375rem;
        &:hover {
          background-color: $vitalpathway-button;
        }
      }
      &__button-signup{
        height: 2.8125rem;
        margin-top: 1rem;
        width: 100%;
        border: 0.0625rem solid $vitalpathway-darkblue;
        border-radius: 0.625rem;
        background-color: $vitalpathway-darkblue;
        color: $white;
        font-size: 0.9375rem;
        margin-top: 1.5625rem;
        &:hover {
          background-color: $vitalpathway-button;
        }
      }
}