.modal{
&__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1000;
}

&__content {
  background: white;
  border-radius: 0.625rem;
  padding: 1.25rem;
  max-width: 31.25rem;
  width: 100%;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.2);
  text-align: center;
}
&__title{
  margin-bottom: 1rem;
}
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.625rem 0.9375rem;
  margin-top: 1rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #388e3c;
}
